<!-- 
  The ngIf will display the div and all within it if
  the property 'showSelect' is true. If it is false,
  they the div and all within it disappears. 
  
  The example will make the select list disappear 
  when the Display button is clicked.
   -->
<div *ngIf="showSelect">
  <!-- 
      This is the definition of the SELECT that allows multiple
      selections. The user selects the first item normally, then
      does a CTRL-click on all the other items to select
   -->
  <select multiple [(ngModel)]="selections">
    <!-- 
      This is how you display all the Items from the table. You 
      can add more data to what gets displayed if you wish.
     -->
    <option *ngFor="let i of items" value="{{i.id}}">{{i.description}}</option>
  </select>
  <!--
    The display() function does most of the work.
   -->
  <button (click)="display()">Display</button>
</div>
<p></p>
<table style="width: 200px;">
  <tr>
    <td>Id</td>
    <td>Description</td>
  </tr>
  <!-- 
    After the items have been selected on stored in a property for your quote,
    you can use this ngFor to display the selected items in a table on the 
    quote page.
   -->
  <tr *ngFor="let ql of quotelines">
    <td>{{ql.id}}</td>
    <td>{{ql.description}}</td>
  </tr>
</table>